.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 138px;
    background-color: #434343;
    min-height: 100vh;
    row-gap: 45px;
    border-radius: 0 0 32px 0;
    padding-top: 15vh;
    float: left;
}
